In [1]:
import numpy as np
import pandas as pd

In [4]:
data= pd.read_csv("salah.csv", sep='\t')

In [5]:
data.head()

,UAL_ID,USER_ID,LOG_DATE,SESSION_ID,ACTIVITY_CODE,DESCRIPTION
0,1359513261,4036707,9/28/2018 10:36:24 AM,12811737,42802,Mobile App: Token Verified At Login: Success
1,1359513263,4036707,9/28/2018 10:36:24 AM,12811737,10171,Mobile:Transactions List Success
2,1359513262,4036707,9/28/2018 10:36:24 AM,12811737,60181,DisplayGetLastDrCrTransHistory
3,1359513230,4036707,9/28/2018 10:36:23 AM,12811737,60102,RefreshAcct
4,1359513229,4036707,9/28/2018 10:36:23 AM,12811737,42802,Mobile App: Token Verified At Login: Success

In [6]:
def abc(x):
    if x>40000:
        return x
    else:
        return 0

data['abc']=data.ACTIVITY_CODE.apply(abc)
data.head()

,UAL_ID,USER_ID,LOG_DATE,SESSION_ID,ACTIVITY_CODE,DESCRIPTION,abc
0,1359513261,4036707,9/28/2018 10:36:24 AM,12811737,42802,Mobile App: Token Verified At Login: Success,42802
1,1359513263,4036707,9/28/2018 10:36:24 AM,12811737,10171,Mobile:Transactions List Success,0
2,1359513262,4036707,9/28/2018 10:36:24 AM,12811737,60181,DisplayGetLastDrCrTransHistory,60181
3,1359513230,4036707,9/28/2018 10:36:23 AM,12811737,60102,RefreshAcct,60102
4,1359513229,4036707,9/28/2018 10:36:23 AM,12811737,42802,Mobile App: Token Verified At Login: Success,42802